.donation {
  margin: 0 auto;
  max-width: 1200px;
}

.price-group {
  button {
    margin-right: 12px;
    margin-left: 12px !important;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 4px !important;
  }
}

.project-statistic {
  padding-bottom: 12px;
  .ant-statistic-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}

.project-progress {
  .ant-form-item-label {
    font-size: 18px;
    font-weight: bold;
    label {
      color: white !important;
    }
  }
  .ant-progress-text {
    color: white !important;
    font-weight: bold;
    margin-bottom: 0 !important;
  }
}